[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
validators = "==0.20.0"
decorator = "==5.1.1"
instaloader = "*"
google = "*"
google-images-search = "*"
eyed3 = "*"
pydub = "*"
pytubefix = "*"

[dev-packages]

[requires]
python_version = "3.10"
